// Place all the styles related to the engine controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.masthead h1.ui.header {
  margin-top: 2em;
  margin-bottom: 0em;
  font-family: 'GlacialIndifferenceRegular';
  font-size: 6em;
  font-weight: normal;
}

.masthead h3.ui.header {
  margin-top: 0em;
  margin-bottom: 1.5em;
  font-family: 'GlacialIndifferenceRegular';
  font-size: 1.5em;
  font-weight: normal;
}

.grid .result.segment {
  margin-top: 4em;
}

.footer.grid {
  min-height: 20em;
}

.footer .container {
  margin-top: 10em;
}

.footer .container p {
  font-size: 0.6em;
}