<!DOCTYPE html>
<html>
<head>
  <title>Master Key Password Generator</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/now" type="text/css"/>
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/source-code-pro" type="text/css"/>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<div class='author'>Canruo Ying 2016</div>
<div class='email'>Email:canruoying@hotmail.com</div>
</body>
</html>
